/** 
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) 
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, 
address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, 
b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, 
tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, 
output, ruby, section, summary,time, mark, audio, video 
{ 
   margin: 0; 
   padding: 0; 
   border: 0; 
   font-size: 14px; 
   font: inherit; 
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section 
{ 
   display: block;
}

body 
{
   line-height: 1;
}

ol, ul 
{ 
   list-style: none;
}

blockquote, q 
{ 
   quotes: none;
}

blockquote:before, blockquote:after,q:before, q:after 
{ 
   content: ''; 
   content: none;
}

table
{
   border-spacing: 0;
}

/**********************************************************************************************************/

body
{ 
   overflow: -moz-scrollbars-vertical;
   background: #F0F0F0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
}

.table_body
{
   width: 100%;
   height: 100%;
}


/*
 * Header
 */
.header
{
   height: 80px;
   width: 900px;
}

.header h1
{
   float: left;
   padding-top: 31px;
   font-size: 18px;  
   font-weight: bold;
}
 
.header .name
{
   float: left;
   padding-top: 33px;
}

.header .div
{
   float: left;
   height: 15px;
   border-right: 1px solid;
   border-right-color: #9C9C9C;
   margin-top: 34px;
   margin-left: 8px;
   margin-right: 8px;

}

.header .logout
{
   float: left;
   padding-top: 35px;
   font-size: 13px;
}

.header .logout a
{
   text-decoration: none;
   color: #A0A0A0;
}

.header .logout a:hover
{
   text-decoration: underline;
   color: #000000;
}

.header .logo
{
   float: right;
   background-image: url("../img/emb4fun.png");
   background-repeat: no-repeat;
   background-position: right;   
   width: 150px;
   height: 38px;
   margin-top: 21px;
}


/*
 * Horizontal navigation (#1)
 */ 
.table_navi1
{
   width: 100%;
   background: #E0E0E0;
   line-height: 22px;
   font-weight: bold;
   font-size: 14px;
   margin-bottom: 6px;
}

.table_navi1 td.main
{
   width: 900px;
}

.table_navi1 ul
{
   padding-top: 6px;
}

.table_navi1 li
{
   float: left;
}

.table_navi1 li.nb
{
   /* Navigation begin, nb */
   height: 22px;
   border-right: 2px solid;
   border-right-color: #9C9C9C;
}

.table_navi1 li.nm
{
   /* Navigation middle, nm */
   height: 22px;
   border-right: 2px solid;
   border-right-color: #9C9C9C;
   padding-left: 14px;
}

.table_navi1 li.ne
{
   /* Navigation end, ne */
   padding-left: 16px;
}

.table_navi1 li a
{
   padding-right: 16px;
   text-decoration: none;
   color: #A0A0A0;
}

.table_navi1 a:hover
{
   text-decoration: underline;
   color: #000000;
}

.table_navi1 a.active
{
   color: #000000;
}


/*
 * Horizontal navigation (#2, #3)
 */ 
.navi2,
.navi3
{
   height: 22px;
   width: 900px;
   font-size: 13px;
}

.navi3
{
   margin-bottom: 10px;
}

.navi2 li,
.navi3 li
{
   float: left;
}

.navi2 li.nb,
.navi3 li.nb
{
   /* Navigation begin, nb */
   height: 13px;
   border-right: 1px solid;
   border-right-color: #9C9C9C;
}

.navi2 li.nm,
.navi3 li.nm
{
   /* Navigation middle, nm */
   height: 13px;
   border-right: 1px solid;
   border-right-color: #9C9C9C;
   padding-left: 7px;
}

.navi2 li.ne,
.navi3 li.ne
{
   /* Navigation end, ne */
   padding-left: 8px;
}

.navi2 li a,
.navi3 li a
{
   padding-right: 8px;
   text-decoration: none;
   color: #A0A0A0;
}

.navi2 a:hover,
.navi3 a:hover
{
   text-decoration: underline;
   color: #000000;
}

.navi2 a.active,
.navi3 a.active
{
   font-weight: bold;
   color: #000000;
}

.navi2 p 
{
   /*  padding-right: 8px; */
   float: right;
   font-weight: bold;
}

.navi3 p 
{
   /*  padding-right: 8px; */
   float: left;
   color: #000000;
   font-weight: bold;
}


/*
 * Table Row
 */ 
.table_row
{
   width: 900px;
   margin-bottom: 20px;
}


/*
 * Variable table
 */
.table_variable
{
   border: 1px solid #A0A0A0;
   border-spacing: 0;
   border-radius: 10px;
   background-color: #FFFFFF;
   overflow: hidden;
}

.table_variable thead
{
   height: 28px;
   line-height: 28px;
   text-align: center;
   font-size: 14px;
   font-weight: bold;
   background-color: #E0E0E0;
}

.table_variable thead td
{
   border-bottom: 1px solid #A0A0A0;
}

.table_variable thead td:first-child
{
   width: 10px;
}

.table_variable thead td:last-child
{
   width: 10px;
}

.table_variable tbody 
{
   font-size: 13px;
   text-align: left;
   line-height: 28px;
}

.table_variable tr.dim {
  background: #F0F0F0;
}

.table_variable tfoot
{
   height: 8px;
   line-height: 8px;
}

.table_variable .button_center
{
   text-align: center;
   margin-bottom: 10px;
}

.table_variable button.save:before
{
   content: "\2714";
}

.table_variable button.cancel:before
{
   content: "\2716";
}

.table_variable button:active
{
   background: #D0D0D0;
}

/********************************************************************/

.content
{
  display: table-cell;
  vertical-align: top;
  width: 460px;
  line-height:13px;
}

.content legend 
{
  padding: 30px 0 10px 165px;
  font-size: 18px;
}

.content fieldset p
{
  width: 250px;
  font-size: 13px;
}

.content label.normal
{
   margin: 7px 10px 10px 10px;
   text-align: right;
   width: 140px;
   font-size: 13px;
   display: inline-block;
}

.content label.normal + p
{
   display: inline-block;
}

.content button.save:before
{
   content: "\2714";
}

.content button.cancel:before
{
   content: "\2716";
}

.content button.sync:before
{
   content: "\27F2";
}

.content button.play:before
{
   content: "\25B6";
}

.content button.js-play:before
{
   content: "\25B6";
}

.content input, select, textarea
{
   font-size: 14px;
   padding: 3px;
   outline: 0;
   border: 0;
   width: 250px;
   background: #FFFFFF;
   border: 1px solid #E0E0E0;
   border-radius: 5px;
   color: #4D4D4D;
   margin: 2px 0 2px 0;
}

.content input.ipsmall
{
   width: 120px;
}

.content input.small
{
   width: 50px;
}

.content input[type=text] + label
{
   padding: 1px 5px;
}

.content input[type=submit], button
{
   font-size: 14px;
   width: auto;
   padding: 1px 5px;
   line-height: 25px;
   text-shadow: none;
   cursor: pointer;
   box-shadow: none;
   background: #F0F0F0;
   color: #000000;
   border: 1px solid #A0A0A0;
   border-radius: 5px;
   margin: 10px 3px 0 0;
}

.content button:active
{
   background: #D0D0D0;
}

.content input[type=checkbox] + label, 
.content input[type=radio] + label
{
   display: inline-block;
   cursor: pointer;
   font-size: 13px;
   line-height: 18px;
   margin: 4px 0 5px 0;
}

.content input[type=checkbox], 
.content input[type=radio]
{
   display:none;
}

.content input[type=checkbox] + label:before, 
.content input[type=radio] + label:before
{
   content: "";
   display: inline-block;
   width: 19px;
   height: 19px;
   vertical-align: middle;
   margin: 0 5px 3px 0;
}

.content input[type=checkbox] + label:before
{
   background:url(../img/checkbox.png) 0px top no-repeat;
} 

.content input[type=checkbox]:checked + label:before
{
   background:url(../img/checkbox.png) -19px top no-repeat;
}

.content input[type=radio] + label:before
{
   background:url(../img/radio.png) 0px top no-repeat;
}

.content input[type=radio]:checked + label:before
{
   background:url(../img/radio.png) -19px top no-repeat;
}

.content button:disabled, select:disabled, 
input:disabled, input[type=checkbox]:disabled + label:before, input[type=radio]:disabled + label:before 
{
   color: #E0E0E0 !important;
}

/********************************************************************/

.table_check
{
   text-align: center;
}   

.table_check input[type=checkbox] + label 
{
   display: inline-block;
   cursor: pointer;
   font-size: 13px;
   line-height: 18px;
   margin: 4px 0 5px 0;
}

.table_check input[type=checkbox]
{
   display:none;
}

.table_check input[type=checkbox] + label:before
{
   content: "";
   display: inline-block;
   width: 19px;
   height: 19px;
   vertical-align: middle;
   margin: 0 5px 3px 0;
}

.table_check input[type=checkbox] + label:before
{
   background:url(../img/checkbox.png) 0px top no-repeat;
} 

.table_check input[type=checkbox]:checked + label:before
{
   background:url(../img/checkbox.png) -19px top no-repeat;
}

.table_check select:disabled, input:disabled, input[type=checkbox]:disabled + label:before
{
   color: #E0E0E0 !important;
}

/********************************************************************/

.textarea
{
   height: auto;
}

.textarea.monospace 
{
   font-family: Courier, "Courier New", monospace;
   font-size: 12px;
   white-space: pre;
}

/********************************************************************/

/*** EOF ***/